<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <!--p>Display the details of the Dish here</p-->
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>



  <div fxFlex="40" >
	  <mat-list fxFlex *ngIf="dish" >
	   <h3 mat-header>Comments</h3>
		<mat-list-item *ngFor="let cmt of dish.comments">
		  <p matLine> {{cmt.comment}} </p>
		  <p matLine>
			<span> {{cmt.rating}} stars </span>
		  </p>
		  <p matLine>
			<span> -- {{cmt.author}} {{cmt.date | date}}</span>
		  </p>
		</mat-list-item>
		<!--mat-list-item *ngIf="commentForm && commentForm.value.review?.length && commentForm.value.reviewer?.length "-->
		<mat-list-item *ngIf="commentForm && commentForm.valid ">
          <p matLine> {{ commentForm.value.review }} </p>
		  <p matLine>
			<span> {{ commentForm.value.rating }} stars </span>
		  </p>
          <p matLine> <span> -- {{ commentForm.value.reviewer }} </span> </p>
		</mat-list-item>
          
        <!--mat-list-item><p matLine>{{ commentForm.value | json }} {{ commentForm.status | json }}</p></mat-list-item-->
        <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="reviewer" placeholder="Name" type="text" required>
              <mat-error *ngIf="formErrors.reviewer">{{formErrors.reviewer}}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-slider min="1" max="5" step="1" value="1" thumbLabel tickInterval="1"  formControlName="rating"></mat-slider>
          </p>    
          <p>
            <mat-form-field class="half-width">
              <input matInput formControlName="review" placeholder="Your Comment" type="text" required>
              <mat-error *ngIf="formErrors.review">{{formErrors.review}}</mat-error>
            </mat-form-field>
          </p>
          <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
        </form>
          
          
	  </mat-list>
  </div>
</div>